[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.5"

[packages]
"e1839a8" = {path = "."}

[dev-packages]
"e1839a8" = {path = ".", extras = ["dev"], editable = true}
"libmediainfo-cffi" = {editable = true, path = ".", extras = ["dev"]}
